* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: blueviolet;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;

}

nav {
  /* background-color: #EF7D19; */
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
  margin-top: 10px;
}

nav ul li {
padding-left: 16px;
  list-style-type: none;
}
main{
  padding-top:1rem;
  color: #fff;
  width: 50rem;
  margin: 0 auto;
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
div{
  background-image: url(./img/bg_laranja.jpg);
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  height: 10rem;
  border-radius: 16px;

}

div h3{
  padding-bottom: 10px;
  font-size: 1.2rem;
  
}

section{
  display: flex;
}